<section id="search-container">
  <hr class="divider short" />
  <form id="search-form">
    <input type="text", name="search", placeholder="article search ..." id="search-field" />
  </form>
</section>
