body[data-page='error'] {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;
  text-align: center;
  @include background-filter;

  > article {
    @include center-absolute;
  }
}
.mayday {
  width: 500px;
  margin: 150px auto 20px;

  > h1 {
    font-size: 24px;
    line-height: 35px;
    color: $gray-lightest;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
  }
}
#error-wrap {
  width: 320px;
  height: 320px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  // background-color: rgba(60,70,80, .5);
}
#safe-button {
  border: 1px solid #fff;
  background-color: #fff;
  color: #333;
  &:hover {
    background-color: lighten($primary-color, .7);
    border-color: lighten($primary-color, .7);
    color: #fff;
  }
}
